.catalog-section {

  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .grid-item.wide {
    grid-column: span 2;
  }

  .grid-item.with-top-margin {
    margin-top: 50%;
  }

  img {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .catalog-section .grid-item.with-top-margin {
    margin-top: 0;
  }

  .catalog-section img {
    height: 350px;
    width: 65.6vw;
    object-fit: cover;
  }
}